:root{
  --mainBlue:#2a2a74;
  --lightDark:#5c5c5c;
  --mainWhite:#f3f3f3;
  --mainDark: #232528;
  --mainYellow:#ffa400
}

body{
  font-family: "Staatliches", sans-serif !important;
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.text-title{
  font-family: "Finger Paint";
  letter-spacing: 0.3em;
}

.fa-home,.fa-cart-plus{
  color: salmon;
}

