:root{
  --mainBlue:#2a2a74;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark: #232528;
  --mainYellow:#ffa400
}

body{
  font-family: "Staatliches", sans-serif !important;
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.text-title{
  font-family: "Finger Paint", sans-serif !important;
  letter-spacing: 0.3em;
}

