:root{
  --lightDark:#5c5c5c;
  --mainWhite:#f3f3f3;
  --mainDark: #232528;
}

body{
  font-family: "Staatliches", sans-serif !important;
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.salmon{
  color: salmon !important;
}

.green{
  color: rgb(128, 243, 128) !important;
}

.red{
  color: red !important;
}

.text-title{
  font-family: "Raleway";
  letter-spacing: 0.3em;
  padding-top: 30px;
  padding-bottom: 30px;
}

.fa-home,.fa-cart-plus,.fa-trash{
  color: salmon;
  cursor: pointer;
}

.btn-black{
  background:transparent;
  text-transform:capitalize;
  font-size: 0.8rem !important;
  color: var(--mainWhite) !important;
  border-radius: 0 !important;
  border:0.1rem solid salmon !important;
}

.btn-black:hover{
  background: var(--lightDark) !important;
}

.mybtn{
  min-width: 180px;
  max-width: 180px;
}

.center {
  display: flex;
  justify-content: center;
  height:100vh; 
  width: 200vh; 
  margin: 0 auto; 
}

.error {
  font-size: 15px;
  color: red !important;
  margin-top: 0.25rem;
}

.thankyou{
  display: flex;
  justify-content: center;
  height:305px; 
  margin: 0 auto; 
}

.order{
  margin: 0 auto; 
  margin-bottom: 40px;
}
